<app-tenant-layout></app-tenant-layout>
<div class="main-container">

  <div class="search-container">
    <form class="form-inline" (ngSubmit)="onSearch()">
      <div class="input-group">
        <input class="form-control" type="search" [(ngModel)]="searchQuery" name="search" placeholder="Search Properties" aria-label="Search">
        <span class="input-space"></span>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="listings-container">
    <div class="row">
      <!-- Iterate through properties -->
      <div class="col-md-4" *ngFor="let property of filteredProperties">
        <div class="listing-card">
          <div class="wishlist-icon" (click)="toggleWishlist(property)">
            <i class="fas fa"
               [ngClass]="isInWishlist(property) ? 'fas fa-heart text-danger' : 'fas fa-heart-o text-muted'"></i>
          </div>

          <div class="horizontal-scroll">
            <div class="scroll-container">
              <div *ngFor="let image of property.images" class="carousel-cell">
                <img [src]="'http://13.61.164.211/5000/' + image" alt="Property Image" />
              </div>
            </div>
          </div>

          <div class="card-content">
            <p class="card-price">
              <strong>{{ property.price | currency: 'INR' }}</strong> / Month
            </p>
            <h5 class="card-title">
              <a [routerLink]="['/applicationsubmit', property.propertyId]">{{ property.propertyType }}</a>
            </h5>
            <p class="card-text">{{ property.description | slice: 0:100 }}</p>
            <div class="features">
              <span>{{ property.bedrooms }} Bedrooms</span> |
              <span>{{ property.rooms }} Rooms</span> |
              <span>{{ property.area }} Sqft</span>
            </div>
          </div>

        </div>
          </div>
    </div>
  </div>

</div>
