

  <!--
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:nestfinderinfo@gmail.com" class="header-top-link">
              

              <span>nestfinderinfogmail.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              
              <address>Kalasalingam University,Madurai</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                
              </a>
            </li>

          </ul>

          <div class="join-us-dropdown">
            <button class="header-top-btn">JOIN US</button>
            <div class="dropdown-menu">
              <a routerLink="/login" class="dropdown-link">Owner</a>
              <a routerLink="/login" class="dropdown-link">Admin</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="/images/logonestfinder1.png" alt="Homeverse logo" style="width: 50px; height: auto; margin-right: 12px;">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src=" images/logo.png" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="#home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a [routerLink]="['/about']" (click)="navigateToSection('about')" fragment="about" class="navbar-link">About</a>
              </li>


              <li>
                <a [routerLink]="['/service']" (click)="navigateToSection('service')" fragment="service" class="navbar-link">Service</a>
              </li>

              <li>
                <a [routerLink]="['/property']" (click)="navigateToSection('property')" fragment="property" class="navbar-link">Property</a>
              </li>

              <li>
                <a [routerLink]="['/contact']" (click)="navigateToSection('contact')" fragment="contact" class="navbar-link">Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <!-- Login and Signup Buttons -->
          <div class="auth-buttons">
            <a routerLink="/login" class="auth-btn">Login</a>
            <a routerLink="/register" class="auth-btn">Signup</a>
          </div>

          <div class="spacer"></div> <!-- Spacer to push icons to the right -->
          <!-- Existing Icons -->

          <a routerLink="/login" class="rent-out-btn" aria-label="Rent Out">

            <span>Rent Out</span>
          </a>


        </div>

      </div>
    </div>

  </header>

  <main>
    <article>

      <!--
    - #HERO
  -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">

              <span>Housing Rental Agency</span>
            </p>

            <h2 class="h1 hero-title">Gateway to the Perfect Home</h2>

            <p class="hero-text">
              Discover your perfect rental effortlessly with NestFinder—where innovation meets convenience to redefine how you find your perfect home.
            </p>

            <button class="btn" (click)="sendEmail()">Make An Enquiry</button>


          </div>

          <figure class="hero-banner">
            <img src=" images/Mainpic.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section>





      <!--
    - #ABOUT
  -->

      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src=" images/about-banner-1.png" alt="House interior">


          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">The Leading House Rental Marketplace.</h2>

            <p class="about-text">
              NestFinder is a smart and intuitive platform designed to connect property owners and tenants seamlessly. Our advanced features,simplify the rental process for everyone. Whether you’re listing a property or finding your next home, NestFinder is here to make it effortless.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <i class="fas fa-search"></i>
                </div>
                <p class="about-item-text">Personalized Rental Suggestions</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <p class="about-item-text">Location-Based Property Insights</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <i class="fas fa-home"></i>
                </div>
                <p class="about-item-text">Hassle-Free Property Listings</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <i class="fas fa-comments"></i>
                </div>
                <p class="about-item-text">Seamless Communication</p>
              </li>


            </ul>

            <p class="callout">
              "Simplifying the rental journey for owners and tenants—because finding a home should be as easy as living in it."

            </p>

            <a [routerLink]="['/service']" (click)="navigateToSection('service')" fragment="service" class="btn">Our Services</a>

          </div>

        </div>
      </section>





      <!--
    - #SERVICE
  -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Our Main Focus</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src=" images/service-1.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Rent a House</a>
                </h3>

                <p class="card-text">
                  Explore a wide range of houses available for rent, tailored to suit your needs and preferences.
                </p>

                <a [routerLink]="['/login']" [queryParams]="{ redirectTo: '/tenant/house', filter: 'house' }" class="card-link">
                  <span>Find A Home</span>
                </a>


              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src=" images/service-2.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Rent an Apartment</a>
                </h3>

                <p class="card-text">
                  Find the perfect apartment for rent with options that fit your lifestyle, from studio apartments to luxurious ones.
                </p>

                <a [routerLink]="['/login']" [queryParams]="{ redirectTo: '/tenant/apartment', filter: 'apartment' }" class="card-link">
                  <span>Find A Home</span>
                </a>


              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src=" images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Rent a PG</a>
                </h3>

                <p class="card-text">
                  Explore affordable PG (Paying Guest) accommodations perfect for students and professionals.
                </p>

                <a [routerLink]="['/login']" [queryParams]="{ redirectTo: '/tenant/pg', filter: 'pg' }" class="card-link">
                  <span>Find A Home</span>
                </a>


              </div>
            </li>


          </ul>

        </div>
      </section>





      <!--
    - #PROPERTY
  -->

      <section class="property" id="property">
        <div class="container">

          <p class="section-subtitle">Properties</p>

          <h2 class="h2 section-title">Featured Listings</h2>

          <ul class="property-list has-scrollbar">


            <li *ngFor="let property of properties; let i = index" class="property-card">

              <figure class="card-banner">

                <div *ngIf="property.images?.length > 0">
                  <a href="#">
                    <img [src]="'http://13.61.164.211/5000/' + property.images[0]" alt="Property Image" class="w-100">
                  </a>
                </div>
                <div class="banner-actions">

                  <button class="banner-actions-btn">


                    <address>{{ property.street }}, {{ property.city }}</address>
                  </button>
                </div>

              </figure>

              <div class="card-content">

                <div class="card-price">
                  <strong>{{ property.price | currency:'INR' }}</strong>/Month
                </div>

                <h3 class="h3 card-title">
                  <a [routerLink]="['/login']"
                     [queryParams]="{ redirectTo: '/applicationsubmit/' + property.propertyId }">
                    {{ property.propertyType }}
                  </a>
                </h3>

                <p class="card-text">
                  {{
 property.description | slice: 0:100
                  }}
                </p>

                <ul class="card-list">

                  <li class="card-item">
                    <strong>{{ property.bedrooms }}</strong>



                    <span>Bedrooms</span>
                  </li>

                  <li class="card-item">
                    <strong>{{ property.rooms }}</strong>



                    <span>Total Rooms</span>
                  </li>

                  <li class="card-item">
                    <strong>{{ property.area }}</strong>



                    <span>Square Ft</span>
                  </li>

                </ul>

              </div>




            </li>
          </ul>
        </div>
      </section>
      <!--
  #Infoforlistproperty
  -->

      <section class="how-to-list">
        <div class="container">
          <h2 class="section-title">How To List a Property on NestFinder?</h2>
          <div class="steps-container">
            <div class="step">
              <div class="icon-wrapper">
                <i class="fas fa-user-plus"></i> <!-- Icon for Register -->
                <span class="step-number">01</span>
              </div>
              <h3 class="step-title">Register</h3>
              <p class="step-description">Sign up via our website and create an account to get started.</p>
            </div>
            <div class="arrow">
              <svg width="100" height="50">
                <path d="M0,50 Q50,0 100,50" fill="none" stroke="#ff5722" stroke-dasharray="5,5" stroke-width="2"></path>
              </svg>
            </div>
            <div class="step">
              <div class="icon-wrapper">
                <i class="fas fa-home"></i> <!-- Icon for Add Property Details -->
                <span class="step-number">02</span>
              </div>
              <h3 class="step-title">Add Property Details</h3>
              <p class="step-description">Fill in details like property type, location, rent, and more.</p>
            </div>
            <div class="arrow">
              <svg width="100" height="50">
                <path d="M0,50 Q50,0 100,50" fill="none" stroke="#ff5722" stroke-dasharray="5,5" stroke-width="2"></path>
              </svg>
            </div>
            <div class="step">
              <div class="icon-wrapper">
                <i class="fas fa-upload"></i> <!-- Icon for Publish Property -->
                <span class="step-number">03</span>
              </div>
              <h3 class="step-title">Publish Property</h3>
              <p class="step-description">Submit your listing to make it live for tenants to explore.</p>
            </div>
          </div>
        </div>
      </section>


      <!--
      - #CTA
    -->

      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream home?</h2>

              <p class="card-text">We can help you realize your dream of a new home</p>
            </div>

            <button class="btn cta-btn" [routerLink]="['/tenant']">
              <span>Explore Properties</span>
            </button>
          </div>

        </div>
      </section>

    </article>
  </main>
  <!--
     - #FOOTER
   -->

  <section class="contact" id="contact">
    <footer class="footer">

      <div class="footer-top">
        <div class="container">

          <div class="footer-brand">

            <a href="#" class="logo">
              <img src="/images/logonestfinder1.png" alt="Homeverse logo">
            </a>

            <p class="section-text">
              Where Home Meets Convenience
            </p>

            <ul class="contact-list">

              <li>
                <a href="#" class="contact-link">


                  <address>Kalasalingam University,Madurai</address>
                </a>
              </li>

              <li>
                <a href="tel:+91 9398336421" class="contact-link">


                  <span>+91 9398336421</span>
                </a>
              </li>

              <li>
                <a href="mailto:nestfinderinfo@gmail.com" class="contact-link">


                  <span>nestfinderinfogmail.com</span>
                </a>
              </li>

            </ul>

            <ul class="social-list">

              <li>
                <a href="#" class="social-link">

                </a>
              </li>

              <li>
                <a href="#" class="social-link">

                </a>
              </li>

              <li>
                <a href="#" class="social-link">

                </a>
              </li>

              <li>
                <a href="#" class="social-link">

                </a>
              </li>

            </ul>

          </div>

          <div class="footer-link-box">

            <ul class="footer-list">

              <li>
                <p class="footer-list-title">Company</p>
              </li>

              <li>
                <a href="#" class="footer-link">About</a>
              </li>


              <li>
                <a href="#" class="footer-link">Locations Map</a>
              </li>

              <li>
                <a href="#" class="footer-link">FAQ</a>
              </li>


            </ul>

            <ul class="footer-list">

              <li>
                <p class="footer-list-title">Services</p>
              </li>

              

              

              <li>
                <a href="#" class="footer-link">Login</a>
              </li>

              <li>
                <a href="#" class="footer-link">My account</a>
              </li>

              <li>
                <a href="#" class="footer-link">Terms & Conditions</a>
              </li>

              

            </ul>

            <ul class="footer-list">

              <li>
                <p class="footer-list-title">Customer Care</p>
              </li>

              <li>
                <a href="#" class="footer-link">Login</a>
              </li>

              <li>
                <a href="#" class="footer-link">My account</a>
              </li>

             

              

              <li>
                <a href="#" class="footer-link">FAQ</a>
              </li>

              <li>
                <a href="#" class="footer-link">Contact us</a>
              </li>

            </ul>

          </div>

        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">

          <p class="copyright">
            &copy; 2022 <a href="#">Team NovaNinjas</a>. All Rights Reserved
          </p>

        </div>
      </div>

    </footer>
</section>
