
<app-owner-layout></app-owner-layout>
<div class="property-list">
  <h1>Property Listings</h1>

  <!-- Show error message if fetching properties failed -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Display the list of properties -->
  <div *ngIf="properties.length > 0; else noProperties" class="property-container">
    <div *ngFor="let property of properties;let i = index" class="property-item" [class.last-row]="i % 2 !== 0">
      <h2>{{ property.propertyType }} - {{ property.price | currency:'INR' }}</h2>

      <p><strong>Street:</strong> {{ property.street }}</p>
      <p><strong>City:</strong> {{ property.city }}</p>
      <p><strong>Pincode:</strong> {{ property.pincode }}</p>

      <p><strong>Description:</strong> {{ property.description }}</p>
      <p><strong>Rental Terms:</strong> {{ property.rentalTerms }}</p>

      <p><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
      <p><strong>Rooms:</strong> {{ property.rooms }}</p>
      <p><strong>Area (sq.ft.):</strong> {{ property.area }}</p>
      <p><strong>Furnished:</strong> {{ property.furnished ? 'Yes' : 'No' }}</p>
      <p><strong>Contact:</strong> {{ property.mobileNumber }}</p>
      <div *ngIf="property.images?.length > 0">
        
        <div class="property-images">
          <div *ngFor="let image of property.images" class="property-image">
            <img [src]="'http://13.61.164.211/5000/'+image" alt="{{image}}" />
          </div>
        </div>
      </div>
      <button (click)="editProperty(property.propertyId)" class="action-btn">Edit</button>
      <button (click)="delProperty(property.propertyId)" class="action-btn">Delete</button>
      <button (click)="viewApplications(property.propertyId)" class="action-btn">
        View Applications
      </button>
      <button (click)="viewAppointments(property.propertyId)" class="action-btn">View Appointments</button>
      <hr />
    </div>
  </div>

  <!-- Template if no properties are available -->
  <ng-template #noProperties>
    <p></p>
  </ng-template>
</div>

