.navbar {
  background-color: #4d443d;
  padding: 5px 20px;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rent-out-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 2px solid #ff9800; /* Dark spruce border color */
  border-radius: 25px;
  background-color: transparent;
  color: #ff9800; /* Dark spruce text color */
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

  .rent-out-btn ion-icon {
    font-size: 20px;
    margin-right: 8px; /* Space between icon and text */
  }

  .rent-out-btn:hover {
    background-color: #ff9800; /* Dark spruce fill on hover */
    color: white; /* White text on hover */
  }


.main-container {
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  background-color: #d4ccc6; /* Optional background color for contrast */
}
.navbar .dropdown-menu {
  min-width: 10rem;
}

.navbar .dropdown-item {
  font-size: 0.9rem;
}
